{% extends "base.html.twig" %}
{% block title %}
    {{title}}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    <!-- header-wrap -->
    <div id="header-wrap">
        <header>

            <hgroup>
                <h1>
                    <a href="index">DAW2</a>
                </h1>
                <h3>Desarrollo Web en Entorno de Servidor</h3>
            </hgroup>

            <nav>
                <ul>
                    <li><a href="{{ path('index')}}">Home</a></li>
                    <li><a href="{{ path('servicios')}}">Servicios</a></li>
                    <li><a href="{{ path('proyectos', {'pagina':'1'})}}">Proyectos</a></li>
                    <li><a href="{{ path('nosotros')}}">Sobre Nosotros</a></li>
                    <li><a href="{{ path('contacto')}}">Contacta</a></li>
                    <li><a href="{{ path('login', {'user':'armando'})}}">Login</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <!-- content-wrap -->
    <div
        class="content-wrap">

        <!-- contact -->
        <section id="contact" class="clearfix">

            <h1>Contacta.</h1>

            <div class="primary">

                <p class="intro">
                    In hac habitasse platea risus dictumst. Suspendisse enim arcu. Aliquam erat volutpat.
                                    Phasellus a dui nisi. Nunc nec quam vitae nisl vehicula euismod. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed commodo ligula blandit risus. Pellentesque magna mi,
                                    iaculis pharetra eu, fermentum ullamcorper nisi. Integer fringilla magna ut quam vulputate erat.
                </p>

                <form method="post" action="PersistirDatos" id="contactform">

                    <div>
                        <p>Escribe un mensaje</p>
                    </div>

                    <div>
                        <label>Nombre
                            <span class="required">*</span>
                        </label>
                        <input name="name" type="text" id="name" value=""/>
                    </div>

                    <div>
                        <label>Email
                            <span class="required">*</span>
                        </label>
                        <input name="email" type="text" id="email" value=""/>
                    </div>

                    <div>
                        <label>Website</label>
                        <input name="website" type="text" id="website" value=""/>
                    </div>

                    <div>
                        <label>Asunto</label>
                        <input name="subject" type="text" id="subject" value=""/>
                    </div>

                    <div>
                        <label>Mensaje
                            <span class="required">*</span>
                        </label>
                        <textarea name="message" rows="20" cols="50" id="message"></textarea><br/><br/>
                    </div>

                    <div>
                        <input type="submit" value="Enviar" class="button">
                        <input type="reset" value="Reset" class="button">
                    </div>


                </form>

            </div>

            <aside>

                <h2>Información de Contacto</h2>


                <p>Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
                                        acus duis in dictumst non integer! Elit, sed scelerisque odio tortor, sed platea dis.</p>

                <p>
                    Daw2 Studio
                    <br/>
                    C/ Formación Profesional 12
                    <br/>
                    Valencia, España
                </p>

                <p>
                    Teléfono: +34 965 123 578
                    <br/>
                    Email: info[@]Daw2.com
                </p>


                <h2>Síguenos</h2>

                <ul class="link-list social">
                    <li class="facebook">
                        <a href="#">Facebook</a>
                    </li>
                    <li class="twitter">
                        <a href="#">Twitter</a>
                    </li>
                    <li class="linkedin">
                        <a href="#">Linkedin</a>
                    </li>
                </ul>

            </aside>

        </section>

    </div>

    <!-- footer -->
    <footer>
        <div class="footer-content">
            <ul class="footer-menu">
                <li>
                    <a href="{{ path('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{ path('servicios')}}">Servicios</a>
                </li>
                <li>
                    <a href="{{ path('proyectos', {'pagina':'1'})}}">Proyectos</a>
                </li>
                <li>
                    <a href="{{ path('nosotros')}}">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="{{ path('contacto')}}">Contacta</a>
                </li>
                <li>
                    <a href="{{ path('login', {'user':'armando'})}}">Login</a>
                </li>
            </ul>

            <p class="footer-text">Copyright 2019 DAW2. &nbsp;&nbsp;&nbsp; Designed by
                <a href="https://www.floridauniversitaria.es">Florida Universitaria</a>
                |
                <a href="https://symfony.com" target="_blank">Symfony.com</a>
            </p>
        </div>

    </footer>

    {% block javascript %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
