{% extends "base.html.twig" %}
{% block title %}
    {{title}}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    <!-- header-wrap -->
    <div id="header-wrap">
        <header>

            <hgroup>
                <h1>
                    <a href="index">DAW2</a>
                </h1>
                <h3>Desarrollo Web en Entorno de Servidor</h3>
            </hgroup>

            <nav>
                <ul>
                    <li><a href="{{ path('index')}}">Home</a></li>
                    <li><a href="{{ path('servicios')}}">Servicios</a></li>
                    <li><a href="{{ path('proyectos', {'pagina':'1'})}}">Proyectos</a></li>
                    <li><a href="{{ path('nosotros')}}">Sobre Nosotros</a></li>
                    <li><a href="{{ path('contacto')}}">Contacta</a></li>
                    <li><a href="{{ path('login', {'user':'armando'})}}">Login</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <!-- content-wrap -->
    <div
        class="content-wrap">

        <!-- services -->
        <section id="services">

            <h1>Datos de contacto</h1>
            <div class="row no-bottom-margin">
                <section class="col">
                    <h2>Nombre:
                        {{nombre}}</h2>
                </section>
                <section class="col mid">
                    <h2>Email:
                        {{email}}</h2>
                </section>
                <section class="col">
                    <h2>Mensaje:
                        {{mensaje}}</h2>
                </section>
            </div>

        </section>

    </div>

    <!-- footer -->
    <footer>
        <div class="footer-content">
            <ul class="footer-menu">
                <li>
                    <a href="{{ path('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{ path('servicios')}}">Servicios</a>
                </li>
                <li>
                    <a href="{{ path('proyectos', {'pagina':'1'})}}">Proyectos</a>
                </li>
                <li>
                    <a href="{{ path('nosotros')}}">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="{{ path('contacto')}}">Contacta</a>
                </li>
                <li>
                    <a href="{{ path('login', {'user':'{{nombre}}}'})}}">Login</a>
                </li>
            </ul>

            <p class="footer-text">Copyright 2019 DAW2. &nbsp;&nbsp;&nbsp; Designed by
                <a href="https://www.floridauniversitaria.es">Florida Universitaria</a>
                |
                <a href="https://symfony.com" target="_blank">Symfony.com</a>
            </p>
        </div>

    </footer>
    {% block javascript %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
